#logos {
  -moz-perspective: 800px;
   -ms-perspective: 800px;
   -webkit-perspective: 800px;
   -o-perspective: 800px;
   perspective: 800px; 
   overflow:hidden;
   height: 308px;
}
#cube {
  display: block;  position: relative;  margin: 10px;
  height: 308px;  width: 220px;
  -moz-transform-style: preserve-3d;
  -moz-transform:rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform-style: preserve-3d;
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0) rotateZ(0);

}
#cardFront {
  opacity: 0.9;
  position: absolute;  height: 308px;  width: 220px;
  -moz-transform:  translateZ(50px) scale(0.8,0.8);
  -webkit-transform:  translateZ(50px)  scale(0.8,0.8);
  -ms-transform:  translateZ(50px) scale(0.8,0.8);
  -o-transform:  translateZ(50px) scale(0.8,0.8);
  transform:  translateZ(50px) scale(0.8,0.8);
  z-index: 100;
}
#cardBack {
  opacity: 0.9;
  position: absolute;  
  height: 308px;  
  width: 220px;
  -moz-transform:  rotateY(180deg) translateZ(50px) scale(0.8,0.8);
  -ms-transform:  rotateY(180deg) translateZ(50px) scale(0.8,0.8);
  -webkit-transform:  rotateY(180deg) translateZ(50px) scale(0.8,0.8);
  -o-transform: rotateY(180deg) translateZ(50px) scale(0.8,0.8);
  transform: rotateY(180deg) translateZ(50px) scale(0.8,0.8);
  z-index: 50;
}
#logos #cube {
  top:500px;
  -moz-transition: top 0.5s;
  
}
#logos:hover #cube {
 top: 0;
-moz-animation: rotate3d 1s infinite linear;
-ms-animation: rotate3d 1s infinite linear;
-webkit-animation: rotate3d 1s infinite linear;
-o-animation: rotate3d 1s infinite linear;
animation: rotate3d 1s infinite linear;
}

@-moz-keyframes rotate3d {
0% { -moz-transform: rotateY(0);}
100% { -moz-transform: rotateY(90deg)}
}
@-webkit-keyframes rotate3d {
0% { -webkit-transform: rotateY(0) ;}
100% { -webkit-transform: rotateY(90deg) ;}
}
@-ms-keyframes rotate3d {
0% { -ms-transform: rotateY(0) ;}
100% { -ms-transform: rotateY(90deg);}
}
@-o-keyframes rotate3d {
0% { -o-transform: rotateY(0) ;}
100% { -o-transform: rotateY(90deg);}
}
@keyframes rotate3d {
0% { transform: rotateY(0) ;}
100% { transform: rotateY(90deg);}
}
